In [1]:
#Libraries to be used
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
FoodBalance=pd.read_csv("/content/drive/MyDrive/Hamoye csv files/FoodBalanceSheets_E_Africa_NOFLAG.csv",encoding="latin-1")
FoodBalance

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [17]:
FoodBalance.head(0)

Empty DataFrame
Columns: [Area Code, Area, Item Code, Item, Element Code, Element, Unit, Y2014, Y2015, Y2016, Y2017, Y2018]
Index: []

In [4]:
FoodBalance.corr()

<ipython-input-4-f13303d27257>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  FoodBalance.corr()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000

In [5]:
FoodBalance(

NameError: ignored

In [8]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ['Age','Nationality','Overall']
df= pd.DataFrame(lst, columns=['Age','Nationality','Overall'],index=[1,2,3])
df

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

In [19]:
grouped_Food = FoodBalance.groupby('Element')['Y2017'].sum()

sum_processing_2017 = grouped_Food.loc['Processing']

print( sum_processing_2017)

292836.0

In [20]:
Wine = FoodBalance[FoodBalance['Item'] == 'Wine'][['Y2015', 'Y2018']]
sum_2015 = Wine['Y2015'].sum()
sum_2018 = Wine['Y2018'].sum()

print(sum_2015)
print(sum_2018)

4251.8099999999995
4039.3199999999997

In [22]:
FoodBalance.shape

(60943, 12)

In [23]:
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: ignored

In [31]:
FoodBalance.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [33]:
missing_values = FoodBalance[FoodBalance.columns[FoodBalance.columns.str.contains('Y2014')]].isnull().sum().sum()
total_values = FoodBalance[FoodBalance.columns[FoodBalance.columns.str.contains('Y2014')]].size
percentage_missing = (missing_values / total_values) * 100
print("Total number of missing values in 2014:", missing_values)
print("Percentage of missing data in 2014:", round(percentage_missing, 3))

Total number of missing values in 2014: 1589
Percentage of missing data in 2014: 2.607

In [34]:
columns = ['Y2017', 'Area']
grouped_data = FoodBalance[columns].groupby('Area').sum()
highest_sum_area = grouped_data['Y2017'].nlargest()

# Print the result
print("Area with the highest sum in 2017:", highest_sum_area)

Area with the highest sum in 2017: Area
Nigeria         1483268.23
Egypt            866379.92
South Africa     517590.54
Ethiopia         448683.76
Morocco          388495.36
Name: Y2017, dtype: float64

In [37]:
Data= FoodBalance['Y2017']
mean_2017 = Data.mean()
std_2017 = Data.std()

# Print the mean and standard deviation for 2017
print("Mean for 2017:", round(mean_2017, 2))
print("Standard Deviation for 2017:", round(std_2017, 2))

Mean for 2017: 140.92
Standard Deviation for 2017: 1671.86

In [40]:
FoodBalance['Area'].nunique()

49

In [45]:
grouped = FoodBalance.groupby('Element').sum()
year_stock_variation = grouped['Stock Variation'].nlargest()

<ipython-input-45-72b051ca21f3>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped = FoodBalance.groupby('Element').sum()

KeyError: ignored

In [46]:
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

In [47]:
y = [(2, 4), (7, 8), (1, 5, 9)]
x = y[1][1]

In [57]:
Output = FoodBalance.groupby('Area')['Y2017'].sum().sort_values().index[6]
Output

'Guinea-Bissau'